let mapleader=","               " change the leader to be a comma vs slash

if has('unnamedplus')
    " By default, Vim will not use the system clipboard when yanking/pasting to
    " the default register. This option makes Vim use the system default
    " clipboard.
    " Note that on X11, there are _two_ system clipboards: the "standard" one, and
    " the selection/mouse-middle-click one. Vim sees the standard one as register
    " '+' (and this option makes Vim use it by default) and the selection one as
    " '*'.
    " See :h 'clipboard' for details.
    set clipboard=unnamedplus,unnamed
else
    " Vim now also uses the selection system clipboard for default yank/paste.
    set clipboard+=unnamed
endif

nnoremap ; :
nnoremap <Leader>f :set filetype?<CR>
nnoremap <Leader>sw :StripWhitespace<CR>
nnoremap <Leader>p :echo expand('%:p')<CR>
nnoremap <Leader>h :noh<CR>
nmap gcc :action CommentByLineComment<cr>
